#jumbotron{
	padding:120px 10px;
	background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/conf.jpeg) no-repeat center / cover;
}

#esperti{
	padding-top:60px;
	padding-bottom:60px;
}

#esperti .card{
	margin-bottom:20px;
}

#esperti .card-body{
	height:300px;
}